*{
    margin:0;
    padding:0;
    font-family:Arial;
    box-sizing:border-box;
}

.navbar {
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
    gap: 12px;
}

/* box1 styling*/

.nav-logo {
    height:50px;
    width:100px;
}

.logo {
    background-image:url("images/amazon_logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height:50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid rgb(255, 255, 255);
}

/*box 2 styling*/

.add-first {
    color:#cccccc;
    font-size:0.75rem;
    margin-left:18px;
}

.add-second {
    font-size: 0.95rem;
    font-weight: 600;
}

.add-icon {
    display:flex;
    align-items:center;
}

/*box3 styling*/

.nav-search {
    display:flex;
}